<tr id="task_<%= task.id %>">
	<td width="*">
		<%= link_to task.done? ? "[X]" : "[ ]", toggle_task_path(task), remote: true %>
		<%= task.name %>
	</td>
	<td>
		<%= link_to "Editar", edit_task_path(task) %>
		<%= link_to "Apagar", task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-small" %>
	</td>
</tr>
